<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273811678318-4pmlr60ulhhjmeeqo99vg08mu46me6gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273811678318-4pmlr60ulhhjmeeqo99vg08mu46me6gg</string>
	<key>API_KEY</key>
	<string>AIzaSyD2YHKNa_AO78qCw2Rpg_7jjYnT8ast5c0</string>
	<key>GCM_SENDER_ID</key>
	<string>273811678318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swirecc.swirecokeadvantage</string>
	<key>PROJECT_ID</key>
	<string>swirecokeadvantage</string>
	<key>STORAGE_BUCKET</key>
	<string>swirecokeadvantage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273811678318:ios:b54462f111b954d886727f</string>
</dict>
</plist>